html {
    position: absolute;
    width: 100%;
    height: 100%;
    background: blue;
}

head {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    Top: 0;
    left: 0;
    background: rgb(64, 64, 148);
}

/* Page Title Style */

#headersection {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    background: blue;
}

#headertitle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    border: solid 0;
    text-align: center;
    background: blue;
}

#headersubtitle {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    border: solid 0px;
    text-align: center;
    background: darkblue;
}

#btn14 {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 16%;
    height: 6%;
    background: red;
}

#btn15 {
    position: absolute;
    top: 25%;
    left: 75%;
    width: 10%;
    height: 6%;
    background: red;
}

#btn16 {
    position: absolute;
    top: 70%;
    left: 15%;
    width: 10%;
    height: 6%;
    background: red;
}

#btn17 {
    position: absolute;
    top: 70%;
    left: 75%;
    width: 10%;
    height: 6%;
    background: red;
}

#btn9 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 10%;
    height: 6%;
    background: red;
}

#btnideas {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 10%;
    height: 6%;
    background: red;
}

p {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 30%;
    text-align: center;
    font-size: 150%;
}